<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    /> -->
    <link rel="stylesheet" href="/static/css/style.css"/>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>

    <title>Integral Por Fração Parcial</title>
  </head>

  <body>
    <div class="titulo">
        <h1>Integral Por Fração Parcial</h1>
    </div>
    <div class="expressao">
       
        <div class="formulario">
            <form action="{{url_for('predict')}}" method="post">
              <div class="simbolo">
                <p> &#x222b </p>
              </div>
              <div class="definida">
                <input type="text" name="da">
                <br>
                <input type="text" name="db">
              </div>
                
              <div class="funcao">
                <input type="text" name="numerador" required="required"/>
                <hr size="4" width="100%" color="black">
                <input type="text" name="denominador" required="required"/>
                <hr size="0" width="0%">
              </div>
              <div class="dx"><p>dx</p> </div>
              <br>
                <button type="submit">Calcular</button>
            </form> 
        </div>
    </div>
    <div class="latex">
        $${{prediction_text}}$$
    </div>
  </body>
</html>